#home{
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    margin-bottom: 70px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#skills{
    margin-top: 100px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}